

/*...................BODY.........................		*/
/*fuente 
    	header : #539092
    	section: #AEE8E6 
    	footer:#8BCFCC 
    	opcional:#F5FAC8*/
		body{
			background: #AEE8E6/* #8BCFCC*/;
			display: grid;
			margin: 0px;
			grid-template-rows: 100px auto 70px;
			grid-template-columns: auto;
			grid-template-areas: "header"
			"section "
			"footer ";
			min-height: 100vh;
			color: #361B10;
			transition: .5s;
		}




/*...................HEADER.........................		*/

		 header{
			grid-area: header;
			background: #539092 ;
			display: flex;
			justify-content: center;
			align-items: center;
				border:  5px solid #F5FAC8;
			transition: .5s;
		}

		h1{
			font-size: 70px;
			font-weight: bold;
			
			animation: .9s titulo infinite;
			
		}

		@keyframes titulo{
			0%{transform: translateY(0px);}
			50%{transform: translateX(5px);}
			100%{transform: translateY(0px); }	
		}
		
		.titulo-principal{
			display: block;
			transition: .9s;
		}

/*...................SECTION.........................		*/
		
		body section{
			
			grid-area:section;
			display: flex;
   			position: relative;
   			height: 100%;
    		width: 100%;
    		justify-content: center;
    		align-items: center;
    		transition: .9s;

		}
		.images-animated-principal{
			width: 95%;
			display: block;
    		height: 90%;
    		z-index: 2;
    		position: absolute; 
    		animation: .7s cats infinite;
			/*border: 1px red solid;*/
    		/*display: grid;
    		grid-template-rows: auto auto;
			grid-template-columns: auto auto;
			grid-template-areas: "cat-a cat-b "  "cat-c cat-d";*/
		}
		@keyframes cats {
			0%{transform: translateX(0px);}
			50%{transform: translateY(5px) ;}
			100%{transform: translateX(0px) ;}
		} 
		

		.imagen-a{
			float: left;
		}
		.imagen-b{
			float: right;
		}
		.imagen-c{
			float: left;
			/*border: 1px red solid;*/
    		margin:287px  0px  0px -101px;
    		
		}
		.imagen-d{
			float: right;
			margin:287px -101px 0px  0px;
			/*margin-top: 287px;
    		margin-right: -101px;*/
			/*border: 1px red solid;*/
		}
		
		.menu-intro{
			position: inherit;
			width: 400px;
			height: 100px;
			/*background: blue;
			border: 1px black solid;*/
			/*overflow: hidden;*/
			z-index: 1;
		}
		
	
		.fade-in{
			/*overflow: hidden;*/
			transform:translateX(-200px);
			opacity: 0;
			animation: fadeIn .9s ease-in 1 forwards;
			animation-delay: .9s;
			width: 200px;
			position: inherit;
			background-color:#FFFFFF;
    		margin: auto;
    		font-size: 20px;
    		padding: 10px;
    		transition: .9s;
    		/*	left:calc(100vw / 4 );*/
			}

		@keyframes fadeIn{
			to{
				opacity: 1;
				transform:translateX(0px);
			}
		}

		.is-paused{
			animation-play-state: paused;
		}
		
		.images-principal{
		
			z-index: 2;
			position:absolute;
			display: flex;
			justify-content: center;
			align-items: center;
		}
		.images-principal-mama{
			opacity: 0;	
			animation: mama 1s 5s ease-in forwards;
		}
		@keyframes mama{
			to{opacity: 1;
			transform: rotate(-90deg) ;	}}
		
		.img1200{
			/*opacity: 0;*/
			transform: rotate(-90deg);
			border: solid #F5FAC8 5px;
			margin-top: -122px;
			opacity: 0;
			position: absolute;
			
			
		}
		.images-principal-mama, .gaticos-1025-images img, .gaticos-750-images img{
			border: solid #F5FAC8 7px;
			border-radius: 5px; 

		}
		.titulo-1025, .titulo-750, .cats-750-animated, .gaticos-550-images{
			display: none;
		}
		.cats-images-querie, .titulo-550{
			opacity: 0;
			display: none
		}
		.cats-1025-animated{
			position: absolute;
		}

	
 	.lazy img{
        -webkit-transition: opacity .9s ease-in-out;
           -moz-transition: opacity .9s ease-in-out;
             -o-transition:  opacity .9s ease-in-out;
             transition: opacity .9s ease-in-out;
               max-width: 100%;
                   opacity: 0;
        -webkit-transform: translateX(100px) ;
		-moz-transform: translateX(100px) ;
		-o-transform: translateX(100px) ;
         	transform: translateX(100px) ;

       
    }

    .lazy img.b-loaded {
                   opacity: 1;
                   transition: .9s;
                transform: translateX(0px) ;
    }
.gaticos-750-images{
		display: none;
	}
	.cat-brown, .cat-black{
		opacity: 0;
		transition: .2s;
	}
	
	.leg-cat-brown, .body-cat-brown, .ball-cat-brown, .body-cat-black, .tail-cat-black{ 
		position: absolute;
	}


/*------------------------footer-----------------------------------------*/
		body footer{
			grid-area: footer;
			background:#8BCFCC /*#AEE8E6 */ ;
			border: 5px #F5FAC8 solid;
			transition: .5s;
		}
				
		












/*---------------------------------media queries .........................*/
@media screen and (max-width: 1270px){
	.menu-intro{
		display: none;
	}
	.images-principal {
		transform: translateX(-210px);
		display:flex-none;
		transition: .5s;
	}
	
	.img1200{
		opacity: 1;
		transition: .9s;
	}
	body{color:#F5FAC8;}
}

@media screen and (max-width: 1125px)
{


	header{
		background: #8BCFCC;
	}
	 body footer{
		background: #539092;
	}
}



@media screen and (max-width: 1025px)
{	.titulo-principal{
	display: none;
	
	}
	.images-animated-principal{
	display: none;
	transition: .9s;
	}
	body{
	
		grid-template-rows: auto auto auto;
		
	}
	header{
		background: #27296D;
	}
	
	h1{
		color: #F5C7F7;
		font-size: 50px;
		text-align: center;
	}
	
	@keyframes titulo{
			0%{transform: translateX(0px);}
			50%{transform: translateY(5px);}
			100%{transform: translateX(0px); }	
		}
	
	
	.titulo-1025{
			display: block;
			transition: .9s;
		}
	
	body {background: #F5C7F7;}
	.images-principal, .img1200{
		opacity: 0;
	}
	.cats-images-querie{
	display: block;
	opacity: 1;
	}
	.cats-images-querie{
		opacity: 1;
		transition: .9s;
		padding: 100px;
	}
	.gaticos-1025-images{
		display: flex;
		flex-flow: column wrap-reverse ;
		align-items: center;
		justify-content: center;
	}
	.gaticos-1025-images img, .gaticos-750-images img{
		margin-top: 25px;
	}
	.cats-1025-animated{
		position: absolute;
	}
	.head-red, .body-red{
		float: left;
		position: absolute;
	    margin-top: -1303px;
   		margin-left: -254px;
	}
	.head-yellow, .body-yellow{
		float: right;
		position: absolute;
		margin-left: 377px;
    	margin-top: -132px;
    	    transform: rotate(45deg);
		}
	.head-red, .head-yellow{
		z-index: 2;
		}
	.head-red{
		animation: head-first .7s ease-in infinite;
	}
	.head-yellow{
		animation: head-second .7s ease-in infinite;
	    margin-top: -165px;
    	margin-left: 389px;
	}

	@keyframes head-first {
			0%{transform: translateX(0px);}
			50%{transform: translateY(5px) rotate(2deg) ;}
			100%{transform: translateX(0px) ;}
		}
	@keyframes head-second {
			0%{transform: translateY(0px);}
			50%{transform: translateX(5px) rotate(2deg) ;}
			100%{transform: translateY(0px) ;}
		}



	body footer{
		background: #5E63B6;
		transition-delay: .5s;
	}
	body footer, header{
		border: 4px solid #A393EB;
	}
	
	.cat-red, .cat-yellow, .gaticos-1025-display{
		transition: .9s;
	}

	
	


@media screen and (max-width: 850px){
	
	
	.cat-red, .cat-yellow, .gaticos-1025-display{
		transition: .9s;
	}

	.cat-red{
		transform: translateX(300px);
	}
	footer{
		transform: translateY(345px);
		position: sticky;
		vertical-align: bottom;

	}
	.cat-yellow{
		transform:translateY(335px) translateX(-300px) ;

	}
	.gaticos-1025-images{
		transform: translateY(150px) ;
	}
	
	
}
@media screen and (max-width: 750px)
{ 	
	.titulo-1025{
	display: none
}
.titulo-750{
		display: block;
		

	}
	.gaticos-1025-images{
		display: none;
		transition: .9s;
		transition-delay: .9s;
	}
	.gaticos-750-images{
		display: block;
		margin: 100px 0  -148px 0;
		display: flex;
		flex-flow: column wrap-reverse ;
		align-items: center;
		justify-content: center;		
	}
	.gaticos-750-images img{
		width: 300px;
		height: auto;
	}
	.cats-750-animated{
	display: block;
	width: 80%;
	height: 100%;	
	position: absolute;
}

	


.top-cat{
    display: flex;
    justify-content: center;
    height: 213px;
}
    
	.cat-brown{
	height: 206px;
    width: 179px;
    display: flex;
   	margin: 25px 0 0 -15px;
    justify-content: center;
	
	}
	.ball-cat-brown{
animation: ball 1.8s ease-in infinite;
	}
	
	.leg-cat-brown{
		animation: leg 1.8s ease-in infinite;
	}
	@keyframes ball{
		0%{
			transform: translateX(8px) rotate(2deg) ;
		}
		50%{
			transform: translateX(0px) rotate(0deg);
		}
		100%{
			transform: translateX(8px) rotate(2deg);
		}
	}
	@keyframes leg{
		0%{
			transform: translateX(8px);
		}
		50%{
			transform: translateX(0px);
		}
		100%{
			transform: translateX(8px);
		}
	}	
	
	.cat-black{
		display: flex;
		justify-content: center;
		width: 179px;
	}
	.tail-cat-black{
		animation: tail 1.9s ease-in infinite;
	}
	
	@keyframes tail{
		0%{
			transform: rotate(10deg);		
		}
		50%{
			transform: rotate(0deg);
		}
		100%{
			transform: rotate(10deg);
		}
	}

.bottom-cats{
		margin: 958px auto 0;
		width: 344px;	
	}
	.cat-blue{
		position: relative;
		display: inline-block;
		animation: cat-azul 1.9s ease-in infinite;
	}
	.cat-orange{
		animation: cat-naranja 1.9s  ease-in infinite;
		height: 113px;
		display: inline-block;
	}
	@keyframes cat-azul{
		0%{
			transform: translateX(0);
		}
		50%{
			transform: translateX(139px);
		}
		100%{
			transform: translateX(0);
		}
	}
	@keyframes cat-naranja{
		0%{
			transform: translateX(139px);
		}
		50%{
			transform: translateX(0);
		}
		100%{
			transform: translateX(139px);
		}
	}

	.cat-red, .cat-yellow{
	display: none;
	}

	.cat-red {
    transform: translateX(287px) translateY(300px);}
	
		.cat-brown, .cat-black{
		opacity: 1;
		transition: .9s;
		transition-delay: .5s;
	}

}

@media screen and (max-width: 550px){
		/*#E3D9CA blanco, #95A792 azul claro, #596C68 azul marino, #403F48 azul oscuro*/

	body, body section{

		background: #E3D9CA;
		
	}
	header{
		background: #596C68 ;
	}
	body footer{
		background: #403F48;
	}
	
	body footer, header{
		border: 4px solid #95A792 ;
	}
	
	.titulo-750{
		display: none;
	}
	.titulo-550{
		display: block;
		opacity: 1;
		font-size: 40px;
		color: #E3D9CA; 
	}
	.gaticos-550-images{
		display: block;
		margin: 100px 0  -156px 0;
		display: flex;
		flex-flow: column wrap-reverse ;
		align-items: center;
		justify-content: center;
		transition: .7s;		
	}
	.gaticos-550-images img {
		margin-top: 30px;
		border: solid #95A792 7px;
		border-radius: 5px; 

	}
	.gaticos-750-images{
		display: none;
	}
	.bottom-cats{
		margin: 924px auto 0;
	}
}
	

@media screen and (max-width: 375px)
{
	body{
		max-width:  375px;
		margin: 0 auto;

	}
	.cats-images-querie{
		padding: 117px 44px;
	}
	.bottom-cats{
		
		     margin: 924 0 0 -26px;
    width: 80%;
	}
		@keyframes cat-azul{
		0%{
			transform: translateX(0);
		}
		50%{
			transform: translateX(100px);
		}
		100%{
			transform: translateX(0);
		}
	}
	@keyframes cat-naranja{
		0%{
			transform: translateX(100px);
		}
		50%{
			transform: translateX(0);
		}
		100%{
			transform: translateX(100px);
		}
	}
	.lazy img{
        -webkit-transition: opacity .9s ease-in-out;
           -moz-transition: opacity .9s ease-in-out;
             -o-transition:  opacity .9s ease-in-out;
             transition: opacity .9s ease-in-out;
               max-width: 100%;
                   opacity: 0;
        	-webkit-transform: translateX(0px) ;
			-moz-transform: translateX(0px) ;
			-o-transform: translateX(0px) ;
         	transform: translateX(0px) ;

       
    }

    .lazy img.b-loaded {
                   opacity: 1;
                   transition: .9s;
                transform: translateX(0px) ;
    }

}





